@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c4b5fd; /* Tailwind purple-300 */
  --foreground: #171717;
  --primary: #6b21a8; /* Tailwind purple-700 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}