@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c4b5fd; /* Tailwind purple-300 */
  --foreground: #171717;
  --primary: #6b21a8; /* Tailwind purple-700 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: var(--primary);
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.justify {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  text-align: justify;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--primary) transparent; /* roxo claro no fundo cinza */

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* gray-100 */
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary); /* purple-500 */
      border-radius: 5px;
      border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #9333ea; /* purple-600 */
    }
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
